html, body {
  margin: 0;
  height:100%;
}
body {
  background-color: rgb(37,47,57); /* цвет фона */
  font-family: sans-serif; /* шрифт */
  font-size: 20px;
  color: white;
}
.center {
  position: relative;
  width: 582px;
  height: 260px;
  top: 50%;
  left: 50%;
  margin-left: -291px;
  margin-top: -130px;
}
.card {
  border: 1px solid rgb(27,87,63);
  border-radius: 8px;
  position: absolute;
}
.card-back-side {
  width: 390px; /* ширина */
  height: 230px; /* высота */
  background-color: rgb(34,120,99); /* цвет карты */
  left: 190px;
}
.card-back-side .black-line {
  width: auto; /* ширина */
  height: 48px; /* высота */
  background-color: rgb(32,32,32);
  margin-top: 20px;
}
.card-back-side .cvc-title p {
  text-align: right; /* выравнивание */
  margin-top: 20px;
  margin-bottom: 0;
  padding-right: 40px;
  font-weight: 300;
  font-size: 15px;
}
.card-back-side .white-stripe {
  width: 365px; /* ширина */
  height: 48px; /* высота */
  background-color: rgb(255,255,255);
  margin-top: 0;
  border-radius: 4px; /* скругление углов */
}
.card-back-side .white-stripe .cvc-code {
  color: rgb(10,40,35);
  padding-right: 20px;
  font-weight: 300;
  text-align: right;
  line-height: 48px;
}
.card-back-side .white-stripe .cvc-code input {
  width: 65px;
  height: 33px;
  color: rgb(100,98,95);
  border: 1px solid rgb(100,98,95);
  font-weight: 300;
  padding-right: 5px;
  border-radius: 4px; /* скругление углов */
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
.card-front-side {
  width: 340px; /* ширина */
  height: 180px; /* высота */
  background-color: rgb(61,150,119); /* цвет карты */
  padding: 25px;
  margin-top: 30px;
}
.card-front-side h1 {
  color: white;
  font-size: 20px;
  text-align: left; /* расположение */
  font-weight: 500; /* насыщенность шрифта */
  line-height: 10px;
}
.card-front-side .card-number-title {
  text-align: left;
}
.card-front-side p {
  color: white;
  font-size: 15px; /* размер шрифта */
  font-weight: 300; /* насыщенность шрифта */
  line-height: 20px; /* высота строки */
}
.card-front-side .card-number input {
  width: 73px;
  height: 35px;
  margin-right: 1%; /* Отступ справа */
  border-radius: 4px; /* скругление углов */
  border: 1px solid rgb(27,87,63);
  color: rgb(100,98,95);
  margin-top: -25px;
  font-size: 25px;
  text-align: center;
}
.card-front-side .select {
  width: 60px;
  height: 38px;
  font-size: 20px;
  border-radius: 4px; /* скругление углов */
  border: 1px solid rgb(27,87,63);
  color: rgb(100,98,95);
}
.card-front-side td {
  color: white;
  font-size: 13px;
  font-weight: 300;
  line-height: 80%;
}
.card-front-side .table {
  margin-top: 20px;
}
