body {
  background-color: rgb(37,47,57); /* цвет фона */
  font-family: sans-serif; /* шрифт */
  font-size: 20px;
  color: white;
}
.card {
  border: 1px solid rgb(27,87,63);
  border-radius: 8px;
  position: absolute;
  bottom: 0; /* Расстояние от нижнего края окна браузера */
  right: 0; /* Положение от правого края */
  margin: auto; /* Величина отступа от каждого края элемента */
  top: 0;  /* Положение от верхнего края */
  left: 0; /* Положение от левого края */
}
.card-back-side {
  width: 390px; /* ширина */
  height: 230px; /* высота */
  background-color: rgb(34,120,99); /* цвет карты */
  top: -70px;  /* Положение от верхнего края */
  left: 370px; /* Положение от левого края */
}
.card-back-side .black-line {
  width: auto; /* ширина */
  height: 48px; /* высота */
  background-color: rgb(32,32,32);
  margin-top: 20px;
}
.card-back-side .paragraph-one p {
  text-align: right; /* выравнивание */
  margin-top: 20px;
  margin-bottom: 0;
  padding-right: 40px;
  font-weight: 300;
  font-size: 15px;
}
.card-back-side .white-stripe {
  width: 365px; /* ширина */
  height: 48px; /* высота */
  background-color: rgb(255,255,255);
  margin-top: 0;
  border-radius: 4px; /* скругление углов */
}
.card-back-side .XXXX {
  color: rgb(10,40,35);
  padding-right: 20px;
  font-weight: 300;
  text-align: right;
  line-height: 48px;
}
.card-back-side .XXXX input {
  width: 60px;
  height: 30px;
  color: rgb(27,87,63);
  font-weight: 300;
  padding-right: 10px;
  border-radius: 4px; /* скругление углов */
}
.card-front-side {
  width: 340px; /* ширина */
  height: 180px; /* высота */
  background-color: rgb(61,150,119); /* цвет карты */
  padding: 25px;
}
.card-front-side h1 {
  color: white;
  font-size: 20px;
  text-align: left; /* расположение */
  font-weight: 500; /* насыщенность шрифта */
  line-height: 10px;
}
.card-front-side .paragraph-two {
  text-align: left;
}
.card-front-side p {
  color: white;
  font-size: 15px; /* размер шрифта */
  font-weight: 300; /* насыщенность шрифта */
  line-height: 20px; /* высота строки */
}
.card-front-side .card-number input {
  width: 73px;
  height: 35px;
  margin-right: 1%; /* Отступ справа */
  border-radius: 4px; /* скругление углов */
  border: 1px solid rgb(27,87,63);
  margin-top: -25px;
}
.card-front-side .select {
  width: 60px;
  height: 38px;
  font-size: 20px;
  border-radius: 4px; /* скругление углов */
  border: 1px solid rgb(27,87,63);
}
.card-front-side td {
  color: white;
  font-size: 13px;
  font-weight: 300;
  line-height: 80%;
}
.card-front-side .table {
  margin-top: 20px;
}
